<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--DeliveryRequest_true-->
    <servlet>
        <servlet-name>run_api</servlet-name>
        <servlet-class>com.run.run_api</servlet-class>
        <load-on-startup>5000</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>get_xml</servlet-name>
        <servlet-class>com.xml.get_xml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryRequest_true</servlet-name>
        <servlet-class>com.xml.DeliveryRequest_true</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>get_xml</servlet-name>
        <url-pattern>/get_xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryRequest_true</servlet-name>
        <url-pattern>/DeliveryRequest_true</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
